body{
    font-family: 'Noto Sans', 'serif';
    font-size: 1.25rem;
    color:#9E9E9E;
}

nav {
    padding: 2rem !important;
}
.nav-container {
    background: linear-gradient(to bottom,  rgba(216, 65, 77, 0.29) 12.5%, #FFFFFF);
}
.nav-link{
    color:#2F97C1 !important;
    font-size: 1.25rem;
    font-weight: 575;
    padding: 0.75rem !important;
}
.navbar .nav-link:hover{
    color:#5EB4E6 !important;
}

.section-landing h1{
    /* font-family: 'Inconsolata', monospace; */
    /* font-family: 'Merriweather', serif; */
    font-family: 'Raleway', sans-serif;
    font-size: 6rem;
    /*
    color: #407B9D;
    */
    color: #7EBBE0;
}
.section-landing h2{
    /*
    color: rgba(219,170,160,1);
    */
    color: #E5605E;
    font-size: 2rem;
    font-weight: 300;
}
.section-landing{
    /* background: linear-gradient(rgba(255, 255, 255, 0) 62%, rgba(255, 198, 159, 0.29)); 
    background:linear-gradient(to bottom, rgba(255,255,255,0.18) 79%, rgba(255,255,255,0.22) 80%, rgba(219,170,160,1) 100%);*/
    background: linear-gradient(180deg, rgba(229, 96, 94, 0) 62.98%, rgba(216, 65, 77, 0.29) 100%);
    min-height: 90vh;
}

.wrapper {
    text-align: center;
}
.time {
    color: #2F97C1;
    font-size: 5rem;
}
.label {
    font-size: 2em;
    display: block;
    color: #aaa;
    padding-top:0.5rem;
}
#countdown{
      padding-top:3rem;
}

.timeline__content h2{
      color: #407B9D;
}
.timeline__content h6{
      color: #9E9E9E;
}
.heading{
      color: #2F97C1;
      font-size: 1.5rem;
      font-weight: 600;
      /*
      border-bottom: 0.4rem solid rgba(219,170,160,1);
      */
      border-bottom: 0.4rem solid #E5605E;
}
.heading p{
    padding:2rem; 
}
.about p{
    padding-top: 3rem;
}