body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300 !important;
    font-size: 1.25rem;
    color:#9E9E9E;
}

nav {
    padding: 2rem !important;
}

.nav-container {
    background: linear-gradient(to bottom,  rgba(93, 217, 193, 0.29) 12.5%, #FFFFFF);
}

.nav-link{
    color:#8A6FB7 !important;
    font-size: 1.25rem;
    font-weight: 500 !important;
    padding: 0.75rem !important;
}

.navbar .nav-link:hover{
    color:#8a6fb7 !important;
}

.navbar .nav-item .dropdown-menu .dropdown-item {
    color: #8A6FB7;
}
.navbar .nav-item .dropdown-menu .dropdown-item:hover {
    background: rgba(93, 217, 193, 0.29);
}

.section-landing h2 {
    color: #8A6FB7;
    font-size: 3rem;
    font-weight: 300;
}

@media (max-width: 767.98px) {
    .section-landing h2 {
        font-size: 2rem;
    }
    .section-landing h3 {
        font-size: 1.5rem;
    }
}

p {
    padding-bottom: 2rem;
    padding-top: 2rem;
    color: #343434;
}

.section-landing {
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(180deg, rgba(229, 96, 94, 0) 62.98%, rgba(93, 217, 193, 0.29) 100%);
    min-height: 90vh;
}

.heading {
    font-family: 'Noto Sans', 'serif';
    text-transform: uppercase;
    color: #8A6FB7;
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: 0.4rem solid #5DD9C1;
}

.sub-heading {
    color: #8A6FB7;
    font-size: 1.5rem;
    border-bottom: 0.2rem solid #5DD9C1;
}

.heading p {
    padding:2rem;
}

.about p {
    padding-top: 3rem;
    font-size: 1.15rem;
    font-weight: 100;
    color: #343434;
}

#map {
    height: 720px;
    width: 100%;
}

#kalady-map {
    height: 400px;
    margin-bottom: 4rem;
}

.place {
    font-size: 2rem !important;
    color: #9E9E9E !important;
}

.key-date {
    font-weight: bold;
    color: #000;
}

.organizers h3 {
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
}

.organizers h1 {
    padding: 2rem 0;
}

.organizers p {
    max-width: 70vh;
}

li {
    color: #343434;
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#content h1 {
    font-size: 1.5rem;
    color: #343434;
}

#bodyContent p {
    padding-top: 1rem;
    font-size: 1.05rem;
}

.my-button {
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    color: #8A6FB7;
    padding: 16px;
    border: 0.1rem solid #8A6FB7;
}

.my-button:hover {
    text-decoration: none;
    color: #FFFFFF;
    border: 0.1rem solid #8A6FB7;
    background-color: #8A6FB7;
}