body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color:#9E9E9E;
}

nav {
    padding: 2rem !important;
}
.nav-container {
    background: linear-gradient(to bottom,  rgba(216, 65, 77, 0.29) 12.5%, #FFFFFF);
}
.nav-link{
    color:#2F97C1 !important;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 0.75rem !important;
}
.navbar .nav-link:hover{
    color:#5EB4E6 !important;
}

.navbar .nav-item .dropdown-menu .dropdown-item {
    color: #2F97C1;
}
.navbar .nav-item .dropdown-menu .dropdown-item:hover {
    background: rgb(252, 183, 181);
}

.section-landing h1{
    font-family: 'Raleway', sans-serif;
    font-size: 3.5rem;
    color: #7EBBE0;
}
.section-landing h2{
    color: #E5605E;
    font-size: 2rem;
    font-weight: 300;
}
.section-landing{
    background:linear-gradient(to bottom, rgba(255,255,255,0.18) 79%, rgba(255,255,255,0.22) 80%, rgba(219,170,160,1) 100%);
    min-height: 625px;
}

p {
    padding-bottom: 2rem;
    padding-top: 2rem;
    color: #343434;
}

.section-landing{
    background: linear-gradient(180deg, rgba(229, 96, 94, 0) 62.98%, rgba(216, 65, 77, 0.29) 100%);
    min-height: 90vh;
}

.heading{
    font-family: 'Noto Sans', 'serif';
    text-transform: uppercase;
    color: #2F97C1;
    font-size: 1.5rem;
    font-weight: 600;
    border-bottom: 0.4rem solid #E5605E;
}
.sub-heading{
    color: #2F97C1;
    font-size: 1.5rem;
    border-bottom: 0.2rem solid #E5605E;
}

.heading p{
    padding:2rem;
}

.about p{
    padding-top: 3rem;
    font-size: 1.15rem;
    font-weight: 100;
    color: #343434;
}

#map {
    height: 720px;
    width: 100%;
}

#kalady-map {
    height: 500px;
    margin-bottom: 4rem;
}

.place{
    font-size: 2rem !important;
    color: #9E9E9E !important;
}

.key-date{
    font-weight: bold;
    color: #000;
}

.organizers h3{
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
}

.organizers h1{
    padding: 2rem 0;
}

.organizers p{
    max-width: 70vh;
}

li {
    color: #343434;
}

#content h1 {
    font-size: 1.5rem;
    color: #343434;
}

#bodyContent p {
    padding-top: 1rem;
    font-size: 1.05rem;
}